<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.technopark.smartbiz"
    xmlns:android="http://schemas.android.com/apk/res/android"
    >

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true"
        />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18"
        />

    <application
        android:name=".businessLogic.userIdentification.VkApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <activity
            android:name=".businessLogic.userIdentification.activities.LoginActivity"
            android:label="@string/app_name"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.vk.sdk.VKServiceActivity"
            android:label="ServiceActivity"
            android:theme="@style/VK.Transparent"
            />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar"
            >
        </activity>
        <activity
            android:name=".businessLogic.addProduct.AddProductActivity"
            android:label="@string/title_activity_add_product"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            >
        </activity>
        <activity
            android:name=".businessLogic.showProducts.ListAddedProducts"
            android:label="@string/title_activity_list_added_products"
            android:theme="@style/AppTheme.NoActionBar"
            >
        </activity>
        <activity
            android:name=".businessLogic.editProduct.EditProductActivity"
            android:label="@string/title_activity_edit_product"
            android:theme="@style/AppTheme.NoActionBar"
            >
        </activity>

        <provider
            android:name=".database.SmartShopContentProvider"
            android:authorities="ru.tech_mail.smart_biz.data"
            android:exported="false"
            />

        <activity
            android:name=".businessLogic.productSales.PurchaseActivity"
            android:label="@string/title_activity_purchase"
            >
        </activity>
        <activity
            android:name=".businessLogic.productSales.CheckActivity"
            android:label="@string/title_activity_check"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name=".businessLogic.productSales.PaymentActivity"
            android:label="@string/title_activity_payment"
            >
        </activity>
        <activity
            android:name=".businessLogic.shopProfile.ShopProfileActivity"
            android:label="@string/title_activity_shop_profile"
            >
        </activity>
        <activity
            android:name=".businessLogic.supply.SupplyActivity"
            android:label="Поставка"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name=".businessLogic.discard.DiscardActivity"
            android:label="Списание"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name=".businessLogic.employees.EmployeeListActivity"
            android:label="Список сотрудников"
            >
        </activity>
        <activity
            android:name=".businessLogic.employees.EmployeeRegistrationActivity"
            android:label="Регистрация сотрудника"
            >
        </activity>
        <activity android:name=".businessLogic.userIdentification.activities.ChangePasswordActivity">
        </activity>

        <service
            android:name=".gcm.RegistrationIntentService"
            android:exported="false"
            />

        <service
            android:name=".gcm.SmartShopInstanceIDListenerService"
            android:exported="false"
            >
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID"/>
            </intent-filter>
        </service>

        <service
            android:name=".gcm.SmartShopGcmListenerService"
            android:exported="false"
            >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
            </intent-filter>
        </service>

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND"
            >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <category android:name="com.technopark.smartbiz"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>
